@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
  
  body {
    margin: 0;
    max-width: 90%;
  }

  h1, p {
    font-family: 'EB Garamond', serif;
    font-size: 2em;
  }